@import url('https://use.typekit.net/dnh4vch.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: brothers, sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*imagen de productos */
.foto1{
    background-image: url(/imagenes/mountains-g19a7c9ade_1280.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

main {
    padding: 20px;
}

/* encabezado */
header {
    width: 100%;
    height: 80px;
    background: rgba(110, 107, 100, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

/*: Tamaño, movible(display), centrado, mover al costado(transform) */
.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    margin-top: 35px;
}

/* posicion iconos */
.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

/* Movimiento menu */
.menu__side {
    width: 90px;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    color: #FEE440;
    font-size: 12px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid black;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* Ocultar Scrool para chrome, zafari y opera */
.menu__side::-webkit-scrollbar {
    display: none;
}

/* ocultar scrol para ie, edge y firefox */
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Cambios dentro del menu */
.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* x2 */
.name__page i {
    width: 20px;
    margin-right: 20px;
}

/* opciones menu */
.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: black;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

/* color transicion */
.options__menu a:hover {
    color: #FEE440;
}

.options__menu .options {
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .options i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .options h4 {
    font-weight: 300;
    cursor: pointer;
    margin-left: 30px;
}

a.selected {
    color: black;
}

.selected:before {
    content: '';
    width: 314px;
    height: 57%;
    background: rgb(1, 0, 6);
    background: linear-gradient(90deg, rgb(222 222 229) 0%, rgb(120 120 119) 58%, rgb(50 49 49) 97%);
    position: absolute;
    top: 18%;
    left: -30px;
}

.social {
    position: fixed;
    left: 30px;
    top: 330px;
    z-index: 20000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 8px 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 40px;
    color: black;
    background: #E1E8EB;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin-left: -15px;
}

.social ul li a:hover {
    background: #FEE440;
    padding: 10px 30px;
}

/* clases para usar en js */
.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}

h1 {
    margin-left: 120px;
}

p {
    margin-left: 20px;
    justify-content: center;
    height: 150px;
    width: 600px;
}
.nata{
    width: 45%;
    justify-content: center;
    margin-left:400px;
}
sub{
    color: #FEE440;
    margin-left: 20px;
}
h2{
    margin-top:10px;
    margin-left: 18px
}
/* slider imagenes */

.container {
    width: 90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slider{
    padding: 0;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}
.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display:grid;
    background-image: url("/fondo.png");
    grid-template-columns: 2fr max-content;
    align-items: center;
    transition: 1.5s;
}

.slider__body--show{
    opacity:1;
    pointer-events: unset;
}

.slider__texts{
    max-width:unset 600px;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slider__review{
    font-weight:200;
    font-size: 20px;
    line-height: 1;
}

.slider__img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display:block;
     margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

@media (max-width:768px){
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }
    .slider__picture{
        grid-row: 1/2;
    }
    .slider__img{
        width:210px;
        height:210px;
    }
}

@media (max-width:425px){
    .slider__container{
        grid-template-columns: 25px 1fr 25px;
        
    }
    .slider__arrow{
        width:100%;

    }
    .slider__img{
        width: 180px;
        height: 180px;
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .slider__review{
        font-size: 1rem;
        line-height: 1.6;
    }
}